/* NavBar.css */
header {
    background-color: #333;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: flex-end; /* Right-justify the nav links */
    align-items: center;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
  }
    
nav a:hover {
    color: rgb(185, 65, 185);
}
  /* Optional: Responsive design for small screens */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-end; /* Right-justify the nav links on small screens */
    }
  }
  